@font-face {
    font-face-name: Figtree;
    src: url("public/fonts/Figtree-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
}

:root {
    /* === neutral colors === */
    --neutral-950: oklch(12.9% 0.042 264.695);
    --neutral-900: oklch(20.8% 0.042 265.755);
    --neutral-800: oklch(27.9% 0.041 260.031);
    --neutral-700: oklch(37.2% 0.044 257.287);
    --neutral-600: oklch(44.6% 0.043 257.281);
    --neutral-500: oklch(55.4% 0.046 257.417);
    --neutral-400: oklch(70.4% 0.04 256.788);
    --neutral-300: oklch(86.9% 0.022 252.894);
    --neutral-200: oklch(92.9% 0.013 255.508);
    --neutral-100: oklch(96.8% 0.007 247.896);
    --neutral-50: oklch(98.4% 0.003 247.858);
    /* === primary === */
    --primary-950: oklch(30.2% 0.056 229.695);
    --primary-900:oklch(39.8% 0.07 227.392);
    --primary-800:oklch(45% 0.085 224.283);
    --primary-700:oklch(52% 0.105 223.128);
    --primary-600:oklch(60.9% 0.126 221.723);
    --primary-500:oklch(71.5% 0.143 215.221);
    --primary-400:oklch(78.9% 0.154 211.53);
    --primary-300:oklch(86.5% 0.127 207.078);
    --primary-200:oklch(91.7% 0.08 205.041);
    --primary-100:oklch(95.6% 0.045 203.388);
    --primary-50:oklch(98.4% 0.019 200.873);
    /* === secondary === */
    --secondary-950:oklch(27.1% 0.105 12.094);
    --secondary-900:oklch(41% 0.159 10.272);
    --secondary-800:oklch(45.5% 0.188 13.697);
    --secondary-700:oklch(58.6% 0.253 17.585);
    --secondary-600:oklch(64.5% 0.246 16.439);
    --secondary-500:oklch(64.5% 0.246 16.439);
    --secondary-400:oklch(71.2% 0.194 13.428);
    --secondary-300:oklch(81% 0.117 11.638);
    --secondary-200:oklch(89.2% 0.058 10.001);
    --secondary-100:oklch(94.1% 0.03 12.58);
    --secondary-50:oklch(96.9% 0.015 12.422);

}



html{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--neutral-900);
}