@font-face {
    font-face-name: Figtree;
    src: url("evycham-heahl/fonts/Figtree-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* === neutral colors === */
    --neutral-950: oklch(12.9% 0.042 264.695);
    --neutral-900: oklch(20.8% 0.042 265.755);
    --neutral-800: oklch(27.9% 0.041 260.031);
    --neutral-700: oklch(37.2% 0.044 257.287);
    --neutral-600: oklch(44.6% 0.043 257.281);
    --neutral-500: oklch(55.4% 0.046 257.417);
    --neutral-400: oklch(70.4% 0.04 256.788);
    --neutral-300: oklch(86.9% 0.022 252.894);
    --neutral-200: oklch(92.9% 0.013 255.508);
    --neutral-100: oklch(96.8% 0.007 247.896);
    --neutral-50: oklch(98.4% 0.003 247.858);
    /* === primary === */
    --primary-950: oklch(30.2% 0.056 229.695);
    --primary-900: oklch(39.8% 0.07 227.392);
    --primary-800: oklch(45% 0.085 224.283);
    --primary-700: oklch(52% 0.105 223.128);
    --primary-600: oklch(60.9% 0.126 221.723);
    --primary-500: oklch(71.5% 0.143 215.221);
    --primary-400: oklch(78.9% 0.154 211.53);
    --primary-300: oklch(86.5% 0.127 207.078);
    --primary-200: oklch(91.7% 0.08 205.041);
    --primary-100: oklch(95.6% 0.045 203.388);
    --primary-50: oklch(98.4% 0.019 200.873);
    /* === secondary === */
    --secondary-950: oklch(27.1% 0.105 12.094);
    --secondary-900: oklch(41% 0.159 10.272);
    --secondary-800: oklch(45.5% 0.188 13.697);
    --secondary-700: oklch(58.6% 0.253 17.585);
    --secondary-600: oklch(64.5% 0.246 16.439);
    --secondary-500: oklch(64.5% 0.246 16.439);
    --secondary-400: oklch(71.2% 0.194 13.428);
    --secondary-300: oklch(81% 0.117 11.638);
    --secondary-200: oklch(89.2% 0.058 10.001);
    --secondary-100: oklch(94.1% 0.03 12.58);
    --secondary-50: oklch(96.9% 0.015 12.422);
    /* === shadow === */
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    /* === padding === */
    --btn-padding: .5rem;
}


html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    color: var(--neutral-950);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--neutral-100);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--neutral-900);
    color: var(--neutral-100);

    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-container p {
    color: var(--neutral-100);
}

/* Portfolio */
#portfolio-container {
    grid-area: portfolio;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin-top: 5rem;
    grid-template-columns: 2fr 0.9fr 1.4fr 1.1fr;
    grid-template-areas:
            "chart chart stocks depot"
            ". . . ."
            "send messages portfolio ranking";
}

section {
    background-color: var(--neutral-50);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1, h2 {
    color: var(--neutral-900);
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

/* portfolio */
#stock-container {
    grid-area: chart;
    background-color: rgba(255, 255, 255, 30%);
    display: block;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    height: 100%;
}

.stock-chart {
    width: 100%;
    height: 100%;
}

/* Trading bereich */
#depot {
    grid-area: depot;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: stretch;
}

#trading-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trading-tabs {
    display: flex;
    gap: .5rem;
}

.trade-tab {
    flex: 1;
    padding: var(--btn-padding);
    background-color: var(--neutral-100);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.trade-tab.active {
    background-color: var(--primary-950);
    color: white;
}

.trading-field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.trading-field input, .trading-field select {
    padding: var(--btn-padding);
    border: 1px solid var(--neutral-300);
    border-radius: .2rem;
    font-size: 1rem;
}

.quick-select {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.quick-select-btn-buy,
.quick-select-btn-sell {
    font-size: .8rem;
    flex: 1;
    padding: var(--btn-padding);
    background-color: var(--neutral-500);
    color: white;
    border-radius: .2rem;
    border: none;
    min-width: 4rem;
}

.quick-select-btn-buy:hover,
.quick-select-btn-sell:hover {
    background-color: var(--neutral-400);
}

.review-button {
    background-color: var(--primary-950);
    color: white;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: var(--btn-padding);
}

.review-button:hover {
    background-color: var(--primary-700);
}

/* ende trading */

/* aktien체bersicht */
/*  CHECK  */
#stocks-container {
    grid-area: stocks;
    overflow-y: auto;
    align-items: stretch;
}
/*  CHECK  */

#stocks-template {
}

/* in Listen definiert */
.stocks-info {
    display: flex;
    gap: .2rem;
}

.stocks-name {
    flex: 1;
}

/* ende aktien체bersicht */

/* rangliste */
#ranking-list-container {
    grid-area: ranking;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding: 1rem;
}

.ranking-item {
    display: grid;
    grid-template-columns: 2rem 1fr auto;
    gap: 0.5rem;
    width: 100%;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--neutral-300);
}

.ranking-title {
    font-size: 1.2rem;
    color: var(--neutral-800);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.rank-column {
    font-size: 1.5rem;
}

/* Ende Ranking */

/* Neuigkeiten */
/*#news-container {*/
/*    overflow-y: auto;*/
/*    padding: 0;*/
/*    grid-area: news;*/
/*    max-height: 60rem;*/
/*}*/

/*.news-controls {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    gap: .5rem;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    background-color: var(--neutral-50);*/
/*    padding: 1rem;*/
/*    z-index: 20;*/
/*}*/

/*.news-controls button {*/
/*    font-size: .8rem;*/
/*    flex: 1;*/
/*    padding: var(--btn-padding);*/
/*    background-color: var(--neutral-500);*/
/*    color: white;*/
/*    border-radius: .2rem;*/
/*    border: none;*/
/*    min-width: 3rem;*/
/*}*/

/*.news-item {*/
/*    margin: 0 1rem;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: .5rem;*/
/*    font-size: .8rem;*/
/*}*/

/* Ende Neuigkeiten */

/* Nachrichten */
#message-container {
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 28rem;
    padding: 0.5rem;
}

.message-item {
    background-color: var(--neutral-300);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sender-receiver {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message-sender {
    font-weight: bold;
}

.message-recipient {
    color: var(--neutral-600);
    font-size: .9rem;
}

.message-text {
    display: block;
    width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    margin: 0.3rem 0;
}

.message-date {
    align-self: flex-end;
    font-size: .8rem;
    color: var(--neutral-600);
}

/* Ende Nachrichten */

/* message-sender */
#message-sender {
    grid-area: send;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: auto;
    max-height: none;
}

.message-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#message-text {
    font-size: .8rem;
    padding: .5rem;
    height: 12rem;
    max-height: 20rem;
    resize: vertical;
}

#message-sender .message-field:first-of-type {
    flex: 1;
    min-height: 0;
}

#message-sender .message-field:first-of-type textarea {
    width: 100%;
    height: 100%;
    resize: vertical;
}


.recipient-selector-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.25rem;
    min-height: 1.5rem;
    border: 1px solid var(--neutral-300);
    border-radius: 0.2rem;
    background-color: var(--neutral-50);
}

.recipient-btn {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--neutral-400);
    background-color: var(--neutral-100);
    color: var(--neutral-700);
    cursor: pointer;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    transition: background-color 0.2s, border-color 0.2s;
    user-select: none;
}

.recipient-btn:hover {
    background-color: var(--neutral-200);
}

.recipient-btn.selected {
    background-color: var(--primary-500);
    border-color: var(--primary-500);
    color: white;
}

.send-button {
    padding: var(--btn-padding);
    background-color: var(--primary-950);
    color: white;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.send-button:hover {
    background-color: var(--primary-700);
}

/* Ende message-sender */

/* Listen */
.stocks-info, .message-item, .portfolio-item {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutral-300);
}

.stocks-info:last-child, .news-item:last-child, .message-item:last-child, .portfolio-item:last-child {
    border-bottom: none;
}

/* Toasts-Anzeige */
#toast-container {
    position: fixed;
    bottom: 1rem;
    right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 9999;
}

.toast {
    backdrop-filter: blur(6px);
    color: var(--neutral-950);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    pointer-events: auto;
}

.toast-error {
    background: rgba(255, 80, 80, 0.15);
    border-left: 6px solid #c62828;
}

.toast-success {
    background: rgba(50, 200, 50, 0.15);
    border-left: 4px solid #2b8a3e;
}

.toast-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    margin-left: .5rem;
}

/* Ende Toasts-Anzeige */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Titels */
#stocks-container::before {
    content: "Verf체gbare Aktien";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

#depot::before {
    content: "Handeln";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
}

#message-sender::before {
    content: "Nachricht senden";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

#message-container::before {
    content: "Nachrichten";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

#portfolio-container::before {
    content: "Portfolio";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

#ranking-list-container::before {
    content: "Top Spieler";
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

/* Ende Titels*/

/* Handy - Design */
@media (max-width: 768px) {

    main {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem;
        margin-top: 6rem;
        padding: 0.75rem;

        section {
            width: 100%;
            padding: 1rem;
            max-width: 100%;
        }

        /* CHART */
        #stocks-container{
            height: auto;
        }

        .stock-chart{
            height: 260px !important; /* Javoll */
        }

        /* SMS */
        #message-container{
            max-height: 300px;
            overflow-y: auto;
        }

        /* TASTEN */
        .recipient-selector-container{
            flex-direction: row;
            gap: 0.4rem;
        }

        /* DEPOT */
        .quick-select{
            flex-wrap: wrap;
        }

        .quick-select-btn-buy,
        .quick-select-btn-sell{
            flex: 1 1 calc(50% - 0.5rem);
        }

        /* RANK */
        .ranking-item{
            grid-template-columns: 1.5rem 1fr auto;
        }

        /* TOSTER */
        #toast-container{
            left: 1rem;
            right: auto;
            bottom: 1rem;
        }

        /* REIHENFOLGE kannst 채ndern falls du willst*/
        #stock-container {
            order: 1;
        }

        #stocks-container {
            order: 2;
        }

        #depot {
            order: 3;
        }

        #portfolio-container {
            order: 4;
        }

        #ranking-list-container {
            order: 5;
        }

        #message-sender {
            order: 6;
        }

        #message-container {
            order: 7;
        }
    }
}

/* Ende Handy Design */


/* Haupt - Titel */
nav h1 {
    color: var(--neutral-50);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0.5rem;
}